.responsive-map {
  width: 100%;
  height: 65vh;
}

@media (max-width: 768px) {
  .responsive-map {
    height: 50vh;
  }
}

button {
  font-size: 16px;
  padding: 8px 12px;
  border-radius: 8px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

input[type="date"] {
  font-size: 16px;
  padding: 6px;
  border-radius: 6px;
}

.chart-container {
  width: 100%;
  height: 200px;
}
